{% extends "layout.html" %}
{% block content %}
<!--if the user is logged in, they'll be able to access the vote page-->
{% if current_user.is_authenticated %}
  <button><a class="" href="{{ url_for('Pleidleisiwch') }}">Pleidleisiwch yma</a></button>

<!-- This is what the user sees before logging in -->
{% else %}
<h2>Croeso i ein System Pleidleisio Ar-Lein</h2>
<p>Mewngofnodwch neu Cofrestrwch i bleidleisio</p>

<button><a class="" href="{{ url_for('mewngofnodi') }}">Mewngofnodi</a></button>
<br>
<br>
<button><a class="" href="{{ url_for('cofrestrwch') }}">Cofrestrwch</a></button>
<br>
<br>
<a href="{{url_for('index')}}">This page is also availible in English</a>
{% endif %}
{% endblock content %}
