{% extends "layout.html" %}
{% block content %}
  <div class="indexContent">
    <div class="introText">
      <h1>For the group 16 project, we were tasked with creating a
        secure online voting system with the scope for it to be
        used in a potential general election.</h1>

    </div>

    {% if current_user.check_vote_eligibility() %}
        <div class="voteBox">
            <button><a class="" href="{{ url_for('vote') }}">Vote Here</a></button>
        </div>
    {% else %}
        <div class="register">
            <center><p>Please register to vote <a href="https://www.gov.uk/register-to-vote">HERE</a></p></center>
        </div>
    {% endif %}
  </div>
{% endblock content %}
