{% extends "layout.html" %}
{% block content %}
<!-- If user clicks login by mistake, there is a quick link to the register page -->
<div>
  <p class="text-muted">
    Bydd rhaid i chi gofrestru cyn mewngofnodi. <a class="ml-2" href="{{ url_for('cofrestrwch') }}">Cofrestrwch Yma</a>
  </p>
</div>

<div class="content-section">
<form action="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Mewngofnodwch</legend>
<!-- using bootstap for clearer error messages and more aestetically pleasing UI -->
<!-- The email field of the login form -->
    <div class="form-group">
      {{ form.email.label}}
      {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control form-control-lg") }}
      {% endif %}
    </div>

<!-- The password field of the login form -->
  <div class="form-group">
    {{ form.password.label}}
    {% if form.password.errors %}
      {{ form.password(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
          <span>{{ error }}</span>
            {% endfor %}
      </div>
    {% else %}
      {{ form.password(class="form-control form-control-lg") }}
    {% endif %}
  </div>

  <!-- This is where the users enter their one time password -->
    <div class="form-group">
      {{ form.otp_secret.label}}
      {% if form.otp_secret.errors %}
        {{ form.otp_secret(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.otp_secret.errors %}
            <span>{{ error }}</span>
              {% endfor %}
        </div>
      {% else %}
        {{ form.otp_secret(class="form-control form-control-lg") }}
      {% endif %}
    </div>

<!-- This is implemented as a measure to stop spam bots from accessing the vote
  page -->
  <div>
    {{ form.useremail.label }}
    {{ form.useremail}}
    <br>
    <small>* Mesur wrth-sbam yw hon. Bydd robot yn gweld mai enw'r maes yw 'useremail' ac
      felly bydd yn llenwi'r maes efo ebost. Oherwydd bod rhaid i hon fod yn wag, ni fydd y
      ffurflen yn gael ei brosesu
    </small>
      </div>


</fieldset>

  <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
  </div>
</form>
</div>


{% endblock content %}
