{% extends "layout.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<p>Would you like to create an election or view results?</p>
<button><a class="" href="{{ url_for('create_election') }}">Create Election</a></button>
<br>
<br>
<button type="button" name="button"><a href="{{url_for('view_election')}}">View Elections</a></button>
<br>
<br>
<button><a class="" href="{{ url_for('results') }}">View Results</a></button>
{% else %}
<p>To access Officials features, please register or sign in below</p>

<button><a class="" href="{{ url_for('login') }}">Sign In</a></button>
{% endif %}

{% endblock content %}
